.panda-bg-info{
   background-color: #fceae8;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 20px;
    padding: 9px 25px;
    border: none;
}
.categories img{
    width: 100px;
}
